  .section-1 {

        border-radius: 0 0 150px 0;
      min-height: 100vh;



    }
.client-img-bg{
    width: 100px;
    height: 100px;
    background-color: #7857fe;
    border-radius: 50%;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.client-img-bg img{
    position: absolute;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.flexedit{

    margin-left: 260px;
    margin-right: 260px;

}

.section-2{
    min-height: 80vh;
}

.client-section{

    min-height: 80vh;

} 

.carouselfix{
    min-height: 60vh;

}

.carouselfix .card{
    border-radius: 10px;

}
.quote{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #7857fe;
    top:36px;
    left: 80px; 
    
} 

.pricing-plan ul li{
    border-bottom:0.1px solid #d4d4d4;
}

.pricing-plan ul li:last-child{
    border:0px;
}


.teamcarousel{
    min-height: 90vh;
}


.pricing-plan-section{
    min-height: 90vh;
} 

.btn-plan{
    border-radius:50px;
}

.pricingshadow{
    border: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.quote i{
    position: absolute;
    top:8px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.carouselfix p{
    font-size: 18px;

}
 
.section-5{
    background-image: url("image/download-app-bg.jpg");
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    min-height: 80vh;
}

.section-5::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
    background-color:#7857fe;
    opacity: 0.8;
}

.round:hover{
    background:white;
    color:dodgerblue;
   border:1px solid white;
   box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    
}

.section-4{
    min-height: 750px;
}

.how-it-works{
    min-height: 70vh;
}

.step{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-synthesis: 30px;
    line-height: 60px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
} 

.line-right::before{
    position:absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: dodgerblue;
    left: 50%;
    top:48px;
    z-index: -1;
}
 

.line-right{

    position: relative;
    z-index: 1;
 

}
  .light{
      font-size: 15px;
  } 
  
  .him{
      box-sizing: border-box;
  }

.section-title h2{
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
}

.section-3-number{
     font-family: 'Heebo', sans-serif;
} 

.section-3-number-2{
    font-family: 'Heebo', sans-serif;
    font-size: 70px;
} 
    .one:after{

        animation-name: names;
        animation-duration:10s;
        animation-iteration-count: infinite;
        content: ", Fast Loading";
    }

    @keyframes names{

        0%{
             content: ", Fast Loading";

        }
        25%{
              content:", High Speed";

        }
        50%{
            content:", High Reliability";

        }

    }
.b{
    font-size: 25px;
}

    .carousel-indicators {
        position: absolute;
        bottom: -40px;
    }


   

    .cardshadow {
        border: none;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        overflow: hidden;
    }

.cardshadow p{
    font-size: 17px;
}


.cardshadow .text-info{
    font-size: 17px;
}


.cardshadow:hover h4{
    transform: scale(1.2);
    transition: 0.4s;
}


    body {
        font-family: 'Nunito', sans-serif;
    }

    .btn-click {
        border-radius: 50px;

    }

    .round{
        border-radius: 50px;
        transition: 0.4s;
    }

    .app-icon{
        font-size: 30px;
    }

    .circle {
        width: 360px;
        height: 360px;
        border-radius: 50%;
        border: 0.1px solid #d4d4d4;
        position: absolute;
        z-index: 1;
        left: 16%;
        top:9%;
        animation:example 10s linear infinite;
   transform:rotate(0deg);

    }

.btn-play{
    border: none;
    box-shadow: none;
    animation: pulse 2s ease infinite;
    

}

.btn-download{
       border: none;
    box-shadow: none;
    padding: 10px;

}




.nav-link{
    position: relative;
    cursor: pointer;
}

.nav-link::before{

    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);

}

.nav-link:hover::before{
    transform: scale(1);
}



.btn-download:hover{
  animation: none;
    background: blue;
    color: white;

    transition: 1s;
}

.btn-play:hover{
    animation: none;
    background: blue;
    color: white;
     transition: 1s;

}

@keyframes pulse{


    0%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
    }

      70%{
          transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255,255,255,0);
    }
      100%{
          transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }


}


.circle::before{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    top:12px;
    left:10%;


}

  @keyframes example {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }


.b{
    color: dodgerblue;
}

    .imgsec-1 {
        position: relative;
        z-index: 2;
        left: 23%;
        animation-name: updown;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        opacity: 0.8;;
    }

    .imgsec-3{ 
        position: relative;
        z-index: 2;
        animation-name: updown;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        opacity: 0.8;
        width: 250px;
        
    }

    .imgsec-2 {
        position: relative;
        z-index: 2;
        left: 6%;
        animation-name: updown;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        opacity: 0.8;;
    }

   .imgsec-4 {
        position: relative;
        z-index: 2;
        left: 6%;
        animation-name: updown-4;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    .accordion-header:hover{
cursor: pointer;
    }

  
  .query .accordion-header:not(.collapsed){
        background-color: #7857fe;
        box-shadow: none;
        color: white;
        margin:0px;
        border-radius: 0px;
       
    }

    .accordion-header{
        position: relative;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
        transition: 0.4s ease;
        border-radius: 5px;
    }

    .get-in-touch input{
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        border: none;
    }

     .get-in-touch input::placeholder,textarea::placeholder{

       font-size: 16px;
       font-weight: 600;

     }
     
         
    .get-in-touch textarea{
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        border: none; 
        height: 9rem;
    padding-top: 1.2rem;
    resize: none;
    box-sizing: border-box;
    }

    .items-accordion{
        margin-bottom: 100px;
    }

    .footer ul li{
        font-size: 18px;
        transition: 0.4s;
        cursor: pointer;
    }

    .footer ul li:hover{
        margin-left: 10px;
    }
    


    .footer{
        background-color: #7857fe;
        color: white;
    } 

    .footer hr{
    border-bottom: 0.1px solid white;
    opacity: 0.3;
    }


    .touchicon{
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid dodgerblue;
    }

    .touchicon i{
        position: absolute;
        color: dodgerblue;
        top:11px;
        left: 10px;
    }

    .msgbtn{
        border-radius: 80px;
        padding: 10px;
    }

    .msgbtn:hover{
       background-color: mintcream;
       color: black;
       box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
       border:1px solid white;
    }

  
    .accordion-header::before{
        content: '\2212';
        position: absolute;
        left:93%;
        font-size: 25px;
        background: #d4d4d4;
        padding-right: 10px;
        padding-left: 10px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        }

.accordion-header.collapsed::before{
            content: '\002B';

        }


    @keyframes updown {
        0%,100% {
            transform: translateY(-5%)
        }

        50% {
            transform:translateY(0px);
        }
    }

 @keyframes updown-4 {
        0%,100% {
            transform: translateY(5%)
        }

        50% {
            transform:translateY(0px);
        }
    }





.section-3 .d-flex{
    margin-left: 0;
}

.paddings3{
    padding-left: 0;
}


 .fun-1{
 
   background-color: #e91e63;
 }

 .fun-2{
    background-color: #f5ae10
 }

 .fun-3{
    background-color: #09d69c;
    #7857fe
 }

 .fun-4{
    background-color:
    #7857fe;
 }

 .home-menu{
     overflow: hidden;
 }

   

    @media screen and (max-width:992px){

    .line-right::before{
        display: none;
    }

    .works-body{
        box-shadow:2px 5px 5px 2px rgba(0,0,0,0.2);
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .nav-link::before{
        width: 50%;
    }

    .circle{
        left: 19%;
    }

    .navbar-nav{
        box-shadow: 1px 1px 1px 5px rgba(255,255,255,0.1);
    }


    }

    @media screen and (max-width:768px){

        .imgsec-1{
            left: 26%;
        }
        .accordion-header::before{
            left: 85%;
        }

    }

    @media screen and (max-width:576px) {
        .justify {
            text-align: justify;

            word-break: break-all;
        }

        .section-1 {
            border-radius: 0 0 20px 20px;
        }

        .section-title h2{
            font-size: 35px;

        }

        .circle{
            left: 0;
            right:0;
            top:0;
            bottom: 0;
            margin: auto;
            width: 330px;
            height: 330px;
        }

        .paddings3{
           padding-left: 10px;
        }

  
     
    }
